@model HeadingVM

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Header</h1>
        <p class="lead text-muted">@Model.Caption</p>
    </div>
</section>