<div class="container">
    <div class="display-4" style="margin-top: 50px;">Access Denied</div>
    <div class="text-black-50">You do not have permission to view this page <br/>
    <a asp-action="Index" asp-controller="Home"> Return to home page</a>
    </div>
</div>

