@model LoginVM

<div class="container">

    <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="ViewBag.ReturnUrl" method="post" class="form-signin" role="form">

        <div class="offset-sm-4 col-sm-4 my-auto mt-sm-5">
            <div class="mb-4 display-3">Core Automotive</div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div class="form-group">
                <label asp-for="UserName" class="sr-only"></label>
                <div class="col-md-12">
                    <input asp-for="UserName" class="form-control" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="sr-only"></label>
                <div class="col-md-12">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="text-muted mt-2">Do not have account?<a asp-action="Register" asp-controller="Account"> Register</a></p>
            <p class="mt-2 mb-3 text-muted text-center">&copy; 2019</p>
        </div>
    </form>

</div>