
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container d-flex justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">CoreAutomotive</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Opinia" asp-action="Index" class="nav-link">Search</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Car" asp-action="Create" class="nav-link">New Announcement</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link">About</a>
                    </li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown offset-md-7">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" method="post" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            <a asp-controller="Account" asp-action="MyProfile" class="dropdown-item">My Profile</a>
                            <a asp-controller="Car" asp-action="Index" class="dropdown-item">Manage</a>

                        </div>
                    </div>

                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class=""></form>
                    <form asp-area="" asp-controller="Car" asp-action="Index" id="Carss" method="post" class=""></form>
                }
                else
                {
                    <div class="offset-md-6">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a id="loginLink" asp-controller="Account" asp-action="Login" class="nav-link">Log in</a>
                            </li>
                            <li>
                                <a id="registerLink" asp-controller="Account" asp-action="Register" class="nav-link">Sign in</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>




    </nav>

    <div class="">
        @RenderBody()

    </div>



</body>
</html>


<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>