body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.body-content{
    padding-left: 10px;
    padding-right: 10px;
}


.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

span.tab-space {
    padding-left: 5em;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr {
    vertical-align: middle;
    text-align: center;
}

.carousel-inner > .item > img {
    margin: auto;
    width: 100%
}

.carousel .img-responsive {
    width: 100%;
}

.cardetails{
    font-family: 'Open Sans', sans-serif;
}
