@model Car
    <div class="container">
        <div class="display-4 mt-5">
            <p>Message has been sent successfully</p>
        </div>
        <div class="text-muted" style="font-size: 20px">
            <p><a asp-action="Details" asp-controller="Home" asp-route-id="@ViewBag.CarId">Go back to the announcement</a></p>
        </div>

    </div>

